@media (min-width: 1024px)
  .contact
    &-visible
      display: none
@media (min-width: 767px)
  .logo
    &-visible
      display: none
@media (max-width: 1400px)
  .navbar
    &__logo
      margin-right: 60px
    &__language
      margin-right: 45px
    &__contacts
      width: 325px
      margin-right: 30px
    &-wrapper
      justify-content: center
  .container
    max-width: 1300px
  .block-2
    &__image
      width: 433px
      height: 647px
    &__info
      margin-right: 130px
@media (max-width: 1250px)
  .hero
    margin-left: 700px
  .navbar
    &__logo
      margin-right: 30px
    &__language
      margin-right: 25px
    &__contacts
      margin-right: 15px
    &__login
      margin-right: 14px
    &__search
      margin-right: 5px
  .block-1
    &__image
      width: 486px
      height: 435px
      margin-right: 70px
  .block-2
    margin-left: 60px
    &__info
      margin-right: 40px
  .container
    max-width: 1200px
  .solutions
    padding: 0 84px 92px 112px

@media (max-width: 1200px)
  .solutions
    padding: 0 10px 92px 75px

@media (max-width: 1110px)
  .logo
    &__icon
      width: 40px
      margin-right: 10px
    &__description
      width: 170px
  .hero
    margin-left: 670px
  .navbar
    &__menu
      width: 105px
    &__login
      width: 140px
    &__search
      margin-right: 5px
  .solutions
    padding: 0 15px 92px 40px
@media (max-width: 1025px)
  .contact
    &__phone, &__email
      font-size: 16px
  .navbar
    &__hero
      height: 380px
    &__contacts
      width: 290px
  .slide-1
    &__title
      font-size: 30px
    &__link
      font-size: 15px
  .swiper
    &-button
      &-header
        right: 50px
  .breadcrumbs
    &__item
      font-size: 12px
  .courses
    padding-bottom: 40px
    &__title
      font-size: 40px
      margin-bottom: 40px
    &__cards
      height: 85px
      margin-bottom: 30px
  .course
    &__link
      font-size: 18px
  .block-1
    &__image
      width: 382px
      height: 355px
      margin-right: 50px
  .block-2
    &__image
      width: 363px
      height: 558px
  .info
    &__title
      font-size: 30px
    &__text
      font-size: 16px
  .footer
    padding: 100px 0 100px 0

@media (max-width: 1023px)
  .contact__phone, .contact__email
    display: none
  .navbar
    background-image: url(../img/second-image.png)
    background-repeat: no-repeat
    background-size: 44%
    background-position: -57px -22px
    height: 458px
    &__contacts
      width: 60px
  .hero
    margin-left: 475px
    margin-top: -60px
    height: 320px
  .footer
    &__name
      margin-right: 50px
    &__link
      margin-right: 50px
  .info
    &__text
      width: 275px
@media (max-width: 992px)
  .courses
    padding-bottom: 0
    margin-bottom: -100px
    &__title
      font-size: 30px
      margin-bottom: 25px
  .course
    height: 75px
    width: 460px
    margin-bottom: 25px
    &__link
      font-size: 16px
    &__profession-count, &__course-count
      font-size: 14px
    &__info
      width: 180px
  .block-1
    &__image
      width: 300px
      height: 280px
      margin-right: 40px
  .info
    &__title
      font-size: 25px
      line-height: 28px
    &__text
      line-height: 21px
  .block-2
    &__image
      width: 288px
      height: 426px

@media (max-width: 870px)
  .modal
    &__dialog
        padding: 25px 35px
    &__button
      padding: 15px
      min-width: 100px

@media (max-width: 850px)
  .hero
    margin-left: 360px
  .login
    &__text
      display: none
  .navbar
    &__contacts
      margin-right: 35px
    &__login
      width: 50px
    &__search
      margin-right: 35px
  .footer
    &__icon
      display: none
    &__link
      margin-right: 5px
    &__name
      margin-right: 30px
    &__text
      margin-right: 20px
  .courses
    &-wrapper
      width: 650px

@media (max-width: 767px)
  .navbar
    background-image: none
    &__menu
      width: 55px
  .logo
    &__icon, &__description
      display: none
  .hero
    margin-left: 75px
  .courses
    &-wrapper
      width: 600px
  .logo
    &-visible
      width: 60px
      margin-right: 25px
  .block-1
    &__image
      width: 229px
      height: 221px
      margin-right: 25px
  .block-2
    margin-left: 0
    &__image
      width: 214px
      height: 295px
    &__info
      margin-right: 15px
  .info
    &__title
      width: 245px
      font-size: 18px
    &__text
      font-size: 14px
      width: 250px
  .footer
    padding: 30px 0 30px 0
    &-wrapper
      flex-direction: column
  .menu
    &__text
      display: none

@media (max-width: 660px)
  .button
    &-info
      display: flex
      flex-direction: column
  .modal
    &__button
      width: 100%
      margin-bottom: 10px

@media (max-width: 610px)
  .navbar
    &__logo
      margin-right: 2px
    &__language
      margin-right: 20px
    &__contacts
      margin-right: 20px
  .courses
    &-wrapper
      width: 520px

@media (max-width: 576px)
  .courses
    &-wrapper
      width: 450px
  .block-1
    &__image
      width: 160px
      height: 160px
      margin-right: 17px
  .block-2
    &__image
      width: 177px
      height: 227px
    &__info
      margin-right: -20px
  .logo
    &-visible
      margin-right: 10px
  .navbar
    &__login
      margin-right: 0px
    &__search
      margin-right: 10px
// @media (min-width: 320px) and (max-width: 480px)








@media (max-height: 527px)
  .modal
    &__dialog
      &--visible
        overflow-y: auto
        max-height: 95vh
// Эффекты:
@media (min-width: 992px)
  .navbar
    &__logo
      &:hover
        .logo__icon
          stroke: #E36837
    &__login
      &:hover
        .login__text
          color: #E36837
        .login__icon
          stroke: #E36837
    &__search
      &:hover
        stroke: #E36837
    &__menu
      &:hover
        stroke: #E36837
        .menu__text
          color: #24686F
  .menu-block
    &:hover .dropdown-content
      display: block
  .contact
    &__phone
      &:hover
        color: #E36837
    &__email
      &:hover
        color: #E36837
        border-bottom: none
  .language
    &__icon
      &:hover
        border: 1px solid #E36837
        border-radius: 50%
  .slide-1
    &__link
      &:hover
        color: #E36837
        border-bottom: none
  .breadcrumbs
    &__link
      &:hover
        color: #24686F
  .courses
    &__color
      &:hover
        color: #24686F
  .course
    &__link
      &:hover
        color: #E36837
  .swiper
    &-button
      &-next
        &:hover
          opacity: 1
  .dropdown
    &-content
      &__link
        &:hover
          color:#E36837
  .footer
    &__text
      &:hover
        color: #E36837
  .atma
    &:hover
      color: #E36837

          // .partners
  //   &__icon
  //     &:hover
  //       fill: #E36837



