// Эффекты:
@media (min-width: 992px)
  .navbar
    &__logo
      &:hover
        .logo__icon
          stroke: #E36837
    &__login
      &:hover
        .login__text
          color: #E36837
        .login__icon
          stroke: #E36837
    &__search
      &:hover
        stroke: #E36837
    &__menu
      &:hover
        stroke: #E36837
        .menu__text
          color: #24686F
  .contact
    &__phone
      &:hover
        color: #E36837
    &__email
      &:hover
        color: #E36837
        border-bottom: none
  .language
    &__icon
      &:hover
        border: 1px solid #E36837
        border-radius: 50%
  .slide-1
    &__link
      &:hover
        color: #E36837
        border-bottom: none
  .breadcrumbs
    &__link
      &:hover
        color: #24686F
  .courses
    &__color
      &:hover
        color: #24686F
  .course
    &__link
      &:hover
        color: #E36837
  // .partners
  //   &__icon
  //     &:hover
  //       fill: #E36837
        

  
