.navbar
  height: 699px
  // padding-top: 44px
  background: #E6E9ED url('../img/main-image.png')
  background-repeat: no-repeat
  background-position: -200px -248px
  &-wrapper
    padding-top: 32px
    display: flex
    align-items: center
    margin: 0 auto
  &__link
    display: flex
    align-items: flex-end
  &__logo
    margin-right: 21px
  &__login
    display: flex
    justify-content: space-between
    align-items: center