.navbar
  height: 699px
  background: #E6E9ED url('../img/main-image.png')
  background: #E6E9ED url('../img/puzzle.png')
  background-repeat: no-repeat
  background-position: -274px -101px
  &-wrapper
    padding-top: 32px
    display: flex
    align-items: center
  &__logo
    margin-right: 185px
  &__language
    margin-right: 98px
  &__contacts
    margin-right: 38px
  &__login
    margin-right: 38px

.logo
  &__icon
    margin-right: 21px
.contact
  width: 348px
  display: flex
  align-items: center
  justify-content: space-between
  &__phone
    font-weight: normal
    font-size: 18px
    line-height: 24px
    color: #1A1919
  &__email
    font-weight: normal
    font-size: 18px
    line-height: 24px
    color: #24686F
    border-bottom: 1.3px solid #24686F
    border-opacity: 0.2
.login
  width: 131px
  display: flex
  justify-content: space-between
  align-items: center
  &__text
    font-weight: 600
    font-size: 13px
    line-height: 24px
    letter-spacing: 0.65px
    color: #1A1919



